<div id="busca">
  <%= form_tag search_books_path, :method => "get" do %>
    <%= label_tag :keywords, "Buscar" %>
    <%= text_field_tag :keywords %>
    <%= submit_tag "Enviar" %>
  <% end %>
</div>
